@import 'shared/variables.css';
@import 'shared/fonts.css';

:root {
    font-family: 'Gotham Rounded';
}

body {
    background: var(--color-background-bright);
}

/*
.container_inner {
    max-width: 1320px;
    background-color: var(--color-background-light);
}
*/

/*
#main-content {
    min-height: calc(100vh - 153px);
}
*/

h1 {
    text-align: center;
    padding-top: 20px;
    color: var(--color-text-light);
}

.container_inner.container-sm {
    min-height: calc(100vh - 153px);
    background-color: var(--color-background-light);
}